
/* --------------------------------------------------------
Style Sheet for PHP-Dices

version: 1.0
last modified: 19.04.2018 by Emmanuel Pires
author: Emmanuel Pires
email: emmanuelf988@gmail.com
website: http://emmanuelpires.tk
----------------------------------------------------------*/

body {
    font-family: 'Berkshire Swash', cursive;
    background-image: url(../images/dd.jpg);
    text-align: center;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Berkshire Swash', cursive;
    font-size: 18px;
}
select option {
    font-family: 'Berkshire Swash', cursive;
}
input[type=submit] {
    width: 100%;
    background-color: #44403E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #000;
}
fieldset {
    background: url(http://api.thumbr.it/whitenoise-300x300.png?background=cc3131ff&noise=ebe2eb&density=28&opacity=35);
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 54px 15px rgba(0,0,0,0.75);
}
h1 {
    color:#fff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
    font-family: 'Berkshire Swash', cursive;
}
.container {
    width: 100%;
}
.title-result {
    font-size: 22px;
}
.welcome {
    padding: 30px;
}
.welcome h2 {
    font-family: 'Berkshire Swash', cursive;
    text-decoration: underline;
}
.welcome .home-image {
    height: 400px;
    width: auto;
    margin: 30px 0px;
}
.welcome p {
    font-weight: 400;
    text-align: justify;
}
.welcome a:hover {
    color: #fff;
}
.dice-number {
    font-size: 20px;
}
.dice-result {
	max-width: 80%;
	margin: auto; 
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.dice-result p {
	flex-grow: 1;
	width: 25%;
	height: 40px;
  text-align: center;
}
span {
    font-weight: bold;
}
.loader {
    background-color: darkorange;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.loader p {
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 30px;
}

.w3-bar {
    padding: 10px 40px;
    border-radius: 10px;
    width: 100%;
}

footer {
    max-width: 1200px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    background-color: #000;
}
footer span {
    text-align: center;
}
footer div {
	margin-top: 35px;
}
footer span a {
    color: #fff;
    text-decoration: underline;
}
footer span a:hover {
    color: darkorange;
    text-decoration: underline;
}